{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Cart Products </h1><br>




<ol class="list-group list-group-numbered">
  {% for i in cartitems %}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">
        <img style="height:10rem; width: 10rem;" class="mb-1" src = "{{i.prodt.img.url}}" alt = "{{i.prodt.name}}"/>
      </div>
      <small>NAME: {{i.prodt.name}}</small> <br>
      <small>STOCK: {{i.prodt.stock}}</small> <br>
        <small>Rs/- {{i.prodt.price}} x 1</small>
        <a class="badge text-bg-primary rounded-pill" href="{%url 'delete' i.prodt.id %}">DELETE</a>
    </div>
    <a href="{%url 'decrement' i.prodt.id %}">-&nbsp &nbsp</a><span class="badge text-bg-primary rounded-pill">QUANTITY: {{i.quan}}</span><a href="{%url 'addcart' i.prodt.id %}"> &nbsp &nbsp+</a><br>
    
  {%endfor%}
</ol>


{% endblock content %}

