{% extends "base.html" %}
{% load static %}

{% block content %}



<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img  style="height:35rem; width: 50rem;" src="{%static 'images/bgimg.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>PROJECT ECCOMERCE SHOP </h5>
          <p>Place were you can trust</p>
        </div>
      </div>
    </div>
  </div>


<br>



<div class="row">
    {% for product in product.object_list %}

        <div class="col-md-3 mb-6">
            <div class="card" style="width: 18rem;">
                <a class = "imgover" href="{{product.get_url}}"><img style="height:18rem; width: 18rem;" src="{{ product.img.url }}" class="card-img-top" alt="{{ product.name }}"></a>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.desc|truncatewords:17 }}</p><br>
                    <p class="card-text">  Rs/- {{ product.price }}  </p>
                    <a href="{{product.get_url}}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div> 

<div class = "mx-auto">
    <div class = 'text-center'>
{% for pg in product.paginator.page_range %}

<a href="?page={{pg}}" class = "btn btn-light btn-sm {%if product.number == pg %} activate {% endif %}" >{{pg}}</a>

{% endfor %}
    </div>
</div>


{% endblock content %} 













