{% extends "base.html" %}

{%block content%}

<form action="registerin" method='POST'><br>
{% csrf_token %}
<label  class="form-label" >username</label> <input class="form-control" aria-describedby="passwordHelpBlock" type='text'  name='username'><br>
<label  class="form-label" >firstname</label> <input class="form-control" aria-describedby="passwordHelpBlock" type='text'  name='firstname'><br>
<label  class="form-label" >lastname</label> <input class="form-control" aria-describedby="passwordHelpBlock" type='text'  name='lastname'><br>
<label for="inputPassword5" class="form-label">password</label> <input id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"  type='password' name='password1'><br>
<label for="inputPassword5" class="form-label">confirm password</label> <input id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" type='password'  name='password2'><br>
<input type ='submit' value='register'>
</form>

{%  for message in messages%}

    <h1><i>{{message}}</h1></i>

{% endfor %}
{%endblock content%}



<div id="passwordHelpBlock" class="form-text">
  Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
</div>